
# legacy-peer-deps=true
# registry=https://registry.npmjs.org/
@sahaphap-n:registry=https://npm.pkg.github.com
# @sahaphap-n:registry=https://npm.pkg.github.com/
# //npm.pkg.github.com/:_authToken=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