.button_btn {
  border-radius: 6px;
  padding: 0 16px;
  font-size: 14px;
  min-width: 110px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_btn:disabled {
  cursor: not-allowed;
}
.button_btn:focus {
  box-shadow: none;
}

.button_sm {
  height: 32px;
}

.button_md {
  height: 40px;
}

.button_primary {
  background: #45ba73;
  color: #ffffff;
  border: 1px solid #45ba73;
}
.button_primary path {
  fill: #ffffff;
}
.button_primary:hover {
  background: #02b371;
  color: #ffffff;
  border: 1px solid #45ba73;
}
.button_primary:hover path {
  fill: #ffffff;
}
.button_primary:active {
  background: #02a468;
  color: #ffffff;
  border: 1px solid #45ba73;
}
.button_primary:active path {
  fill: #ffffff;
}
.button_primary:disabled, .button_primary:disabled:hover {
  background: #f2f2f2;
  color: #adadad;
  border: 1px solid #adadad;
}
.button_primary:disabled path, .button_primary:disabled:hover path {
  fill: #adadad;
}

.button_dangerPrimary {
  background: #f0536f;
  border: #f0536f;
}
.button_dangerPrimary:hover {
  background: #fc4b6b;
  border: #fc4b6b;
}
.button_dangerPrimary:active {
  background: #fc5674;
  border: #fc5674;
}

.button_secondary {
  background: #ffffff;
  color: #45ba73;
  border: 1px solid #45ba73;
}
.button_secondary path {
  fill: #45ba73;
}
.button_secondary:hover {
  background: #02b371;
  color: #ffffff;
  border: 1px solid #45ba73;
}
.button_secondary:hover path {
  fill: #ffffff;
}
.button_secondary:active {
  background: #02a468;
  color: #ffffff;
  border: 1px solid #45ba73;
}
.button_secondary:active path {
  fill: #ffffff;
}
.button_secondary:disabled, .button_secondary:disabled:hover {
  background: #ffffff;
  color: #adadad;
  border: 1px solid #adadad;
}
.button_secondary:disabled path, .button_secondary:disabled:hover path {
  fill: #adadad;
}

.button_dangerSecondary {
  color: #f0536f;
  border: 1px solid #f0536f;
}
.button_dangerSecondary path {
  fill: #f0536f;
}
.button_dangerSecondary:hover {
  background: #fc4b6b;
  border: 1px solid #fc4b6b;
}
.button_dangerSecondary:active {
  background: #fc5674;
  border: 1px solid #fc5674;
}

.button_upload {
  color: #1890ff;
  border: 1px solid #1890ff;
}
.button_upload path {
  fill: #1890ff;
}
.button_upload:hover {
  background: #1890ff;
  border: 1px solid #1890ff;
}
.button_upload:active {
  background: #1890ff;
  border: 1px solid #1890ff;
}

.button_back {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.button_back:hover {
  background: #f4f4f4;
}

.button_info {
  background: none;
  border: none;
  color: #1890ff;
  display: flex;
}

.button_addInfo:hover {
  background: #f4f4f4;
}

.button_textInfo:hover {
  text-decoration: underline;
}

.button_iconInfo path {
  stroke: #1890ff;
}
.button_iconInfo:hover path {
  stroke: #0d73d3;
}
.button_iconInfo:active path {
  stroke: #0d73d3;
}
.button_iconInfo:disabled path {
  stroke: #adadad;
}

.button_reset {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 6px;
  font-size: 14px;
  background: #f6f8fa;
  border: none;
  color: #45ba73;
  cursor: pointer;
}
.button_reset path {
  fill: #45ba73;
}
.button_reset:hover {
  background: #dddddd;
  color: #45ba73;
}
.button_reset:disabled {
  background: #f2f2f2;
  border: none;
  color: #adadad;
}
.button_reset:disabled path {
  fill: #adadad;
}

.button_closeCircle {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  background: #d8d8d8;
  cursor: pointer;
}

.button_close {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: none;
  background: none;
  border-radius: 6px;
  cursor: pointer;
}

.button_collapse {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: none;
  background-color: none;
  background: none;
  cursor: pointer;
}
.button_collapse:hover {
  background-color: #f4f4f4;
}
.button_collapse path {
  stroke: black;
}
.button_collapse .button_collapse_rotate {
  transform: rotate(-180deg);
  /* Safari */
  -webkit-transform: rotate(-180deg);
  /* Firefox */
  -moz-transform: rotate(-180deg);
  /* IE */
  -ms-transform: rotate(-180deg);
  /* Opera */
  -o-transform: rotate(-180deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.button_reverse {
  flex-direction: row-reverse;
  gap: 10px;
}
.button_reverse div {
  margin: 0 !important;
}

.button_delete path {
  fill: #f0536f;
}/*# sourceMappingURL=Button.css.map */