@import '../../../variables';

.stepProgressBar_box {
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  &::before {
    content: attr(data-no);
    display: grid;
    place-content: center;
    color: #fff;
    min-width: 21px;
    min-height: 21px;
    border-radius: 50%;
    // background-color: $status_color_success;
    background-color: #e5eaee;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px #e5eaee;
    line-height: initial;
  
  }

  &:not(:last-child) {
    &::after {
      content: '';
      margin: 0 8px;
      width: 40px;
      height: 2px;
      border-radius: 8px;
      background-color: #e5eaee;
    }
  }

  &.active {
    &::before,
    &:not(:last-child)::after {
      background-color: $status_color_success;
    }
  }
}
