@import '../../../variables';

.contentFrame_container {
  width: 100%;
  padding: 30px;

  .contentFrame_title_primary {
    color: $primary_color;
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 21px;
    margin-bottom: 0 !important;
  }

  .contentFrame_body {
    min-height: calc(100vh - 630px);
  }

  .footer {
    margin-top: 14px;
  }
}
