@import '../../../variables';

.sw_btn-close-toast {
  color: white;
  width: 14px !important;
  height: 14px !important;
}

.sw_text-toast {
  color: white !important;
  font-size: 16px !important;
  margin-right: 56px !important;
}

.sw_icon-toast {
  scale: 0.75 !important;
}

.sw_popup-toast {
  height: 56px !important;
}

.sw_success {
  background: $status_color_success !important;
}

.sw_warning {
  background: $status_color_warning !important;
}

.sw_error {
  background: $status_color_fail !important;
}
